# Exception folders
ios_logger_datasets/2021-07-29T12-52-25/images
ios_logger_datasets/2021-07-29T12-52-25/intrinsics
ios_logger_datasets/2021-07-29T12-52-25/poses


# Matlab variables


# backup files


